
@font-face
{
font-family: Miso;
src: url('miso.ttf');
}


:-webkit-full-screen {
  background: #333;
}
:-moz-full-screen {
  background: #333;
}

body {

	background:#333;
	color:#444;
	font-family:"Miso";
}


button {
	font-size: 9pt;
	background:#fff;
	border: none;
	padding:7px;
	color:#444;
} button:hover {
	background:#888;
}







.contents {
	width: 100%;
	height: 100%;
	overflow-y: hidden;

	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}






.authpane, .splashpane {
	width:60%;
	margin:20% 20%;
}

	#auth {
		font-family:Miso;
		width:60%;
		position:relative;
		left:20%;
		font-size:1.75em;
		background-color:#999;
	} #auth:hover {
		background-color:#fff;
}

.instructions {
	padding-top:7%;
	color:#888;
}

h1 {
	letter-spacing:10px;
	text-align:center;
	font-weight:normal;
	font-size:5em;
	color:#999;
	
	margin-bottom:0;
}

p {
	text-align:justify;
	color:#fff;
	font-size:1.25em;
	padding-bottom:15px;
}

.desc {
	text-align:center;
	color:#fff;
	font-size:1.25em;
	}

a { color:#B6FCAC; text-decoration:none; }
a:hover {color:#FF03CD; }



.lists {
	
	padding-left:20%;
	display: none;
	overflow-y: hidden;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.lists button {
		margin-top:10px;
		
	}
		.lists button {
			display: inline-block;
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.lists button:before {
				content: '-';
				margin-left: 5px;
				margin-right:5px;
				color: rgba( 255, 255, 255, 0.2 );
			}




/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s;
	   -moz-transition: opacity 0.4s ease 0.4s;
	    -ms-transition: opacity 0.4s ease 0.4s;
	     -o-transition: opacity 0.4s ease 0.4s;
	        transition: opacity 0.4s ease 0.4s;
}

	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #eee;
	}

	.meny-top .meny-arrow:hover{
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #000;
	}

	.meny-active .meny-arrow {
		opacity: 0.4;

		-webkit-transition: opacity 0.2s ease;
		   -moz-transition: opacity 0.2s ease;
		    -ms-transition: opacity 0.2s ease;
		     -o-transition: opacity 0.2s ease;
		        transition: opacity 0.2s ease;
	}
